.subscriptionBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0e0e0e;
}
.subscribeAndSave {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.subscriptionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 12.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.atChainhostWe {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
}
.subscriptionForm {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.userCounterChild {
  height: 40px;
  width: 176px;
}
.subscriptionContent,
.userCounter {
  display: flex;
  align-items: flex-start;
}
.userCounter {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.subscriptionContent {
  width: 1133px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
  z-index: 1;
}
.subscriptionBackgroundParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 195px 20px 192px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.chainhost,
.thankYouFor {
  position: relative;
  display: inline-block;
}
.chainhost {
  margin: 0;
  width: 190px;
  font-size: inherit;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.thankYouFor {
  flex: 1;
  line-height: 24px;
  max-width: 100%;
}
.footerBrand,
.footerMessage {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footerMessage {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 16px;
  font-family: Montserrat;
}
.footerBrand {
  width: 436px;
  flex-direction: column;
  gap: 24px;
  min-width: 436px;
}
.quickLinks {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 118px;
}
.articles,
.contact,
.eBooks,
.home,
.ourStory {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 50px;
}
.articles,
.contact,
.eBooks,
.ourStory {
  min-width: 77px;
}
.articles,
.contact,
.eBooks {
  min-width: 65px;
}
.articles,
.contact {
  min-width: 60px;
}
.contact {
  min-width: 64px;
}
.quickLinksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.legal {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.legal,
.termsConditions {
  position: relative;
  line-height: 24px;
}
.cancellation,
.privacyPolicy,
.refundPolicy {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 111px;
}
.cancellation,
.privacyPolicy {
  min-width: 100px;
}
.privacyPolicy {
  min-width: 109px;
}
.legalLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.beTheFirst,
.getNotified {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.getNotified {
  font-size: 20px;
  font-weight: 500;
  min-width: 129px;
}
.beTheFirst {
  width: 436px;
  max-width: 100%;
}
.formInput {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background-color: #d9d9d9;
}
.provideEmail {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.emailInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
}
.newsletterFormChild {
  height: 56px;
  width: 200px;
  flex-shrink: 0;
  z-index: 1;
}
.newsletterForm {
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 34px 14px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
}
.footerInfo,
.footerLinks,
.newsletter {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.newsletter {
  width: 486px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.footerInfo,
.footerLinks {
  flex-direction: row;
}
.footerLinks {
  flex: 1;
  justify-content: space-between;
  min-width: 604px;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  font-family: Montserrat;
}
.footerInfo {
  align-self: stretch;
  justify-content: center;
  padding: 96px 192px;
  box-sizing: border-box;
  gap: 170.7px;
  text-align: center;
  font-size: 24px;
  color: #0e0e0e;
  font-family: Audiowide;
}
.frameParent,
.getStarted {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: Audiowide;
}
.getStarted {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  gap: 112px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .footerBrand {
    flex: 1;
  }
  .footerInfo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .footerBrand,
  .footerLinks {
    min-width: 100%;
  }
  .footerLinks {
    flex-wrap: wrap;
  }
  .footerInfo {
    gap: 85px;
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
  .getStarted {
    gap: 56px;
  }
}
@media screen and (max-width: 850px) {
  .subscribeAndSave {
    font-size: 38px;
    line-height: 43px;
  }
  .subscriptionForm {
    gap: 16px;
  }
  .subscriptionBackgroundParent {
    padding-top: 127px;
    padding-bottom: 125px;
    box-sizing: border-box;
  }
  .footerInfo {
    gap: 43px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
  .getStarted {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .subscribeAndSave {
    font-size: 29px;
    line-height: 32px;
  }
  .chainhost {
    font-size: 19px;
    line-height: 22px;
  }
  .getNotified,
  .legal,
  .quickLinks {
    font-size: 16px;
    line-height: 19px;
  }
  .footerInfo {
    padding-top: 62px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
}
