.frameChild,
.rectangleWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frameChild {
  background-color: #0e0e0e;
}
.rectangleWrapper {
  margin: 0 !important;
}
.chainhost {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.chainhostWrapper {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
}
.shopServices {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.buyCredits {
  min-width: 118px;
  white-space: nowrap;
}
.buyCredits,
.contact,
.readBlogs {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.readBlogs {
  min-width: 114px;
  white-space: nowrap;
}
.contact {
  min-width: 81px;
}
.frameWrapper,
.shopServicesParent {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.shopServicesParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
}
.frameWrapper {
  width: 695px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.instanceChild {
  height: 40px;
  width: 194px;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 20px;
  box-sizing: border-box;
  gap: 320.5px;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: Audiowide;
}
.exploreCryptoHosting {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 400;
  font-family: inherit;
}
.ourHostingSolutions {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
  color: #fff;
}
.exploreCryptoHostingServersParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
  z-index: 1;
}
.frameWrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 31.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frameItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.groupDiv {
  width: 1128px;
  height: 55px;
  position: relative;
  max-width: 100%;
  z-index: 1;
}
.frameDiv {
  width: 1160.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.frameContainer,
.frameParent {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frameContainer {
  width: 1890.5px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}
.frameParent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6.5px 0 12px;
  position: relative;
  gap: 131.5px;
  text-align: center;
  font-size: 48px;
  color: #0bd752;
  font-family: Audiowide;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0e0e0e;
}
.subscribeAndSave {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.subscribeAndSave10Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 12.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.atChainhostWe {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.frameButton {
  height: 40px;
  width: 176px;
}
.instanceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.frameParent1,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent1 {
  width: 1133px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 195px 20px 192px;
  box-sizing: border-box;
  position: relative;
}
.chainhost1,
.thankYouFor {
  position: relative;
  display: inline-block;
}
.chainhost1 {
  margin: 0;
  width: 190px;
  font-size: inherit;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.thankYouFor {
  flex: 1;
  line-height: 24px;
  max-width: 100%;
}
.chainhostParent,
.thankYouForChoosingChainhoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.thankYouForChoosingChainhoWrapper {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 16px;
  font-family: Montserrat;
}
.chainhostParent {
  width: 436px;
  flex-direction: column;
  gap: 24px;
  min-width: 436px;
}
.quickLinks {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 118px;
}
.articles,
.contact1,
.eBooks,
.home,
.ourStory {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 50px;
}
.articles,
.contact1,
.eBooks,
.ourStory {
  min-width: 77px;
}
.articles,
.contact1,
.eBooks {
  min-width: 65px;
}
.articles,
.contact1 {
  min-width: 60px;
}
.contact1 {
  min-width: 64px;
}
.quickLinksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.legal {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.legal,
.termsConditions {
  position: relative;
  line-height: 24px;
}
.cancellation,
.privacyPolicy,
.refundPolicy {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 111px;
}
.cancellation,
.privacyPolicy {
  min-width: 100px;
}
.privacyPolicy {
  min-width: 109px;
}
.legalParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.beTheFirst,
.getNotified {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.getNotified {
  font-size: 20px;
  font-weight: 500;
  min-width: 129px;
}
.beTheFirst {
  width: 436px;
  max-width: 100%;
}
.rectangleDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background-color: #d9d9d9;
}
.provideEmail {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.provideEmailWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
}
.frameChild1 {
  height: 56px;
  width: 200px;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 34px 14px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
}
.frameFooter,
.frameParent3,
.getNotifiedParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.getNotifiedParent {
  width: 486px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.frameFooter,
.frameParent3 {
  flex-direction: row;
}
.frameParent3 {
  flex: 1;
  justify-content: space-between;
  min-width: 604px;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  font-family: Montserrat;
}
.frameFooter {
  align-self: stretch;
  justify-content: center;
  padding: 96px 192px;
  box-sizing: border-box;
  gap: 170.7px;
  text-align: center;
  font-size: 24px;
  color: #0e0e0e;
  font-family: Audiowide;
}
.cancellationPolicy,
.frameSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameSection {
  align-self: stretch;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: Audiowide;
}
.cancellationPolicy {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  gap: 112px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .chainhostParent {
    flex: 1;
  }
  .frameFooter {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .frameWrapper {
    display: none;
  }
  .frameGroup {
    gap: 160px;
  }
  .frameParent {
    gap: 66px;
  }
  .chainhostParent,
  .frameParent3 {
    min-width: 100%;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .frameFooter {
    gap: 85px;
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
  .cancellationPolicy {
    gap: 56px;
  }
}
@media screen and (max-width: 850px) {
  .frameGroup {
    gap: 80px;
  }
  .exploreCryptoHosting {
    font-size: 38px;
    line-height: 43px;
  }
  .frameDiv {
    gap: 24px;
  }
  .frameParent {
    gap: 33px;
  }
  .subscribeAndSave {
    font-size: 38px;
    line-height: 43px;
  }
  .frameParent2 {
    gap: 16px;
  }
  .rectangleParent {
    padding-top: 127px;
    padding-bottom: 125px;
    box-sizing: border-box;
  }
  .frameFooter {
    gap: 43px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
  .cancellationPolicy {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    gap: 40px;
  }
  .exploreCryptoHosting,
  .subscribeAndSave {
    font-size: 29px;
    line-height: 32px;
  }
  .chainhost1 {
    font-size: 19px;
    line-height: 22px;
  }
  .getNotified,
  .legal,
  .quickLinks {
    font-size: 16px;
    line-height: 19px;
  }
  .frameFooter {
    padding-top: 62px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
}
