.chainhost {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.chainhostWrapper {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
}
.shopServices {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.buyCredits {
  min-width: 118px;
  white-space: nowrap;
}
.buyCredits,
.contact,
.readBlogs {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.readBlogs {
  min-width: 114px;
  white-space: nowrap;
}
.contact {
  min-width: 81px;
}
.menu,
.menuWrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.menu {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
}
.menuWrapper {
  width: 695px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.componentChild {
  height: 40px;
  width: 195px;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 20px;
  box-sizing: border-box;
  gap: 320px;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: Audiowide;
}
@media screen and (max-width: 1225px) {
  .menuWrapper {
    display: none;
  }
  .frameParent {
    gap: 160px;
  }
}
@media screen and (max-width: 850px) {
  .frameParent {
    gap: 80px;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    gap: 40px;
  }
}
