.frameChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.theChainhostJourney {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.theChainhostJourneyWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 12.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.ourStoryAt {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
  z-index: 1;
}
.frameParent {
  width: 1133px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.frameWrapper,
.rectangleParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper {
  width: 1885px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 325px;
  gap: 175px;
  background-image: url(/public/rectangle-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-family: Audiowide;
}
@media screen and (max-width: 1225px) {
  .rectangleParent {
    gap: 87px;
  }
}
@media screen and (max-width: 850px) {
  .theChainhostJourney {
    font-size: 48px;
    line-height: 51px;
  }
  .frameParent {
    gap: 16px;
  }
  .rectangleParent {
    gap: 44px;
    padding-bottom: 211px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .theChainhostJourney {
    font-size: 36px;
    line-height: 38px;
  }
  .rectangleParent {
    padding-bottom: 137px;
    box-sizing: border-box;
  }
}
