.blankLine,
.blankLine1,
.blankLine10,
.blankLine11,
.blankLine12,
.blankLine13,
.blankLine14,
.blankLine15,
.blankLine16,
.blankLine2,
.blankLine3,
.blankLine4,
.blankLine5,
.blankLine6,
.blankLine7,
.blankLine8,
.blankLine9,
.certainProductsServices,
.changesToThe,
.companyNameReserves,
.companyNameWill,
.contactInformation,
.customersMayBe,
.disputeResolution,
.effectiveDateInsert,
.eligibilityForRefunds,
.ifACustomer,
.ifYouHave,
.nonRefundableItemsAnd,
.refundMethods,
.refundPolicy1,
.refundProcessingTime,
.refundRequests,
.refundsWillBe,
.toRequestA {
  margin: 0;
}
.refundPolicyEffectiveContainer {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.frameContainer,
.frameWrapper,
.refundPolicyEffectiveDatWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer,
.refundPolicyEffectiveDatWrapper {
  align-self: stretch;
}
.frameWrapper {
  width: 981px;
  max-width: 100%;
}
.refundPolicyInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  color: #0e0e0e;
  font-family: Montserrat;
}
.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0e0e0e;
}
.subscribeAndSave {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 54px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.subscribeAndSave10Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 12.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.atChainhostWe {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.frameItem {
  height: 40px;
  width: 176px;
}
.instanceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.frameGroup,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 1133px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 195px 20px 192px;
  box-sizing: border-box;
  position: relative;
}
.chainhost,
.thankYouFor {
  position: relative;
  display: inline-block;
}
.chainhost {
  margin: 0;
  width: 190px;
  font-size: inherit;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.thankYouFor {
  flex: 1;
  line-height: 24px;
  max-width: 100%;
}
.chainhostParent,
.thankYouForChoosingChainhoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.thankYouForChoosingChainhoWrapper {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 16px;
  font-family: Montserrat;
}
.chainhostParent {
  width: 436px;
  flex-direction: column;
  gap: 24px;
  min-width: 436px;
}
.quickLinks {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 118px;
}
.articles,
.contact,
.eBooks,
.home,
.ourStory {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 50px;
}
.articles,
.contact,
.eBooks,
.ourStory {
  min-width: 77px;
}
.articles,
.contact,
.eBooks {
  min-width: 65px;
}
.articles,
.contact {
  min-width: 60px;
}
.contact {
  min-width: 64px;
}
.quickLinksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.legal {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.legal,
.termsConditions {
  position: relative;
  line-height: 24px;
}
.cancellation,
.privacyPolicy,
.refundPolicy2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 111px;
}
.cancellation,
.privacyPolicy {
  min-width: 100px;
}
.privacyPolicy {
  min-width: 109px;
}
.legalParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.beTheFirst,
.getNotified {
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.getNotified {
  font-size: 20px;
  font-weight: 500;
  min-width: 129px;
}
.beTheFirst {
  width: 436px;
  max-width: 100%;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  background-color: #d9d9d9;
}
.provideEmail {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.provideEmailWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 0 0;
}
.frameButton {
  height: 56px;
  width: 200px;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleGroup {
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px 34px 14px;
  box-sizing: border-box;
  position: relative;
  gap: 20px;
}
.frameFooter,
.frameParent1,
.getNotifiedParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.getNotifiedParent {
  width: 486px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}
.frameFooter,
.frameParent1 {
  flex-direction: row;
}
.frameParent1 {
  flex: 1;
  justify-content: space-between;
  min-width: 604px;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  font-family: Montserrat;
}
.frameFooter {
  align-self: stretch;
  justify-content: center;
  padding: 96px 192px;
  box-sizing: border-box;
  gap: 170.7px;
  text-align: center;
  font-size: 24px;
  color: #0e0e0e;
  font-family: Audiowide;
}
.frameParent,
.refundPolicy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-family: Audiowide;
}
.refundPolicy {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  gap: 112px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .chainhostParent {
    flex: 1;
  }
  .frameFooter {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .frameContainer,
  .frameWrapper,
  .refundPolicyEffectiveDatWrapper {
    gap: 32px;
  }
  .chainhostParent,
  .frameParent1 {
    min-width: 100%;
  }
  .frameParent1 {
    flex-wrap: wrap;
  }
  .frameFooter {
    gap: 85px;
    padding-left: 96px;
    padding-right: 96px;
    box-sizing: border-box;
  }
  .refundPolicy {
    gap: 56px;
  }
}
@media screen and (max-width: 850px) {
  .frameContainer,
  .frameWrapper,
  .refundPolicyEffectiveDatWrapper {
    gap: 16px;
  }
  .subscribeAndSave {
    font-size: 38px;
    line-height: 43px;
  }
  .frameDiv {
    gap: 16px;
  }
  .rectangleParent {
    padding-top: 127px;
    padding-bottom: 125px;
    box-sizing: border-box;
  }
  .frameFooter {
    gap: 43px;
    padding-left: 48px;
    padding-right: 48px;
    box-sizing: border-box;
  }
  .refundPolicy {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .subscribeAndSave {
    font-size: 29px;
    line-height: 32px;
  }
  .chainhost {
    font-size: 19px;
    line-height: 22px;
  }
  .getNotified,
  .legal,
  .quickLinks {
    font-size: 16px;
    line-height: 19px;
  }
  .frameFooter {
    padding-top: 62px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
}
